/*Usage: font-family: 'Sono', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;800&display=swap");
/*font-family: 'Barlow Condensed', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,100;1,400;1,600&display=swap");

body {
  background: url("../images/fond_jaune.png");
  font-family: "Sono", sans-serif;
  color: #181818;
}

#bloc_page {
  width: 900px;
  margin: auto;
}

nav a,
section h1,
footer h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

/*Header*/

header {
  background: url("../images/separateur.png") repeat-x bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#logo img {
  width: 59px;
  height: 60px;
}

header h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  margin-left: 10px; /*margin: 0 0 0 10px;*/
  margin-bottom: 0px;
}

header h2 {
  font-family: "Sono", sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0px;
}

nav ul {
  list-style-type: none; /*pour retirer les puces(*) de la liste*/
  display: flex;
  margin-bottom: 0px;
}

nav li {
  margin: 15px;
}

nav a {
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}

/*Bannière*/

#banniere_image {
  margin-top: 15px;
  height: 200px;
  border-radius: 5px;
  background: url("../images/sanfrancisco.jpg") no-repeat;
  /*
        Permet de mettre en absolue la description de la bannière qui se trouve à l'intérieur de ce conteneur.
        La position des elements se trouvant dans ce conteneur (banniere_image) sera relative au conteneur.
    */
  position: relative;
  box-shadow: 0px 4px 4px #1c1a19;
  margin-bottom: 25px;
}

#banniere_description {
  position: absolute;
  bottom: 0; /*grâce à la bannière qui a été placée en position relative on peut placer la description au fond de la bannière*/
  border-radius: 0px 0px 5px 5px;
  width: 99.4%;
  height: 33px;
  padding-top: 15px;
  padding-left: 5px;
  background-color: rgba(24, 24, 24, 0.8);
  color: white;
  font-size: 0.8em;
}

.bouton_rouge {
  height: 17px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #b11518;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
  padding: 6px;
  color: white;
  text-decoration: none;
}

/* Section - Corps*/

section {
  display: flex;
  margin-bottom: 20px;
}

article,
aside {
  text-align: justify;
}

article {
  margin-right: 20px;
  flex: 3;
}

.ico_categorie {
  vertical-align: middle;
  margin-right: 8px;
}

article p {
  font-size: 0.8em;
}

aside {
  flex: 1.2;
  position: relative;
  background-color: #706b64;
  box-shadow: 0px 2px 5px #1c1a19;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 0.9em;
}

aside h1 {
  text-align: center;
  font-size: 1.5em;
}

#fleche_bulle {
  position: absolute;
  top: 100px;
  left: -12px;
}

#photo_zozor {
  text-align: center;
}

#photo_zozor img {
  border: 1px solid #181818;
}

/* aside img {
    margin-right: 5px;
} */

.social_media {
  position: absolute;
  bottom: 0px;
}

/* Footer */

footer {
  display: flex;
  background: url("../images/ico_top.png") no-repeat top center,
    url("../images/separateur.png") repeat-x top,
    url("../images/ombre.png") repeat-x top;
  padding-top: 25px;
}

footer p,
footer ul {
  font-size: 0.8em;
}

footer h1 {
  font-size: 1.1em;
}

#tweet {
  width: 28%;
}

#mes_photos {
  width: 40%;
}

#mes_photos img {
  border: 1px solid #181818;
}

#mes_amis {
  width: 32%;
  margin-bottom: 0;
}

#listes_amis {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

#mes_amis ul {
  list-style-image: url("../images/ico_liensexterne.png");
  padding-left: 2px;
}

#mes_amis a {
  text-decoration: none;
  color: #760001;
}
