#conteneur {
    display: flex; /*will align the block element horizontaly*/
    flex-direction: row-reverse; /*row est la directin par defaut - row-reverse inverse la position des box dans le flexbox*/
    flex-wrap: wrap; /*deplace les box à la ligne quand il n'ya pas assez de place - attenton avec flex direction column car les élements seront en row si il n'y a pas assez de hauteur*/
    justify-content: space-between ; /*combiné avec row-reverse il faut faire attention*/

    height: 150px;
    overflow: scroll;
    align-items: center;/*Ne fonctionne pas sans le height ou le width en fonction du flex direction*/
    
    border: 2px solid black;
}

.element {
    width: 150px;
    height: 100px;
}

.element:nth-child(1) {
    background-color: orange;
    margin: auto;
}

.element:nth-child(2) {
    background-color: blue;
}

.element:nth-child(3) {
    background-color: green;
}

.element:nth-child(4) {
    background-color: violet;
}