a:hover {
    color: green;
}

.menu_item:hover {
    border-left: 3px solid violet;
    padding-left: 3px; /*décallage vers l'interieur*/
    margin-left: 3px; /*décallage vers l'extérieur*/
}

/*
    :active ne s'applique que sur les liens.
    Une fois cliqué le lien prends la couleur indiquée avant de revenir à la couleur initiale
*/
a:active {
    color: red;
}

a:visited {
    color: blue;
}

/*
    mettre en valeur l'élément sélectioné
*/
input:focus {
    background-color: aquamarine;
}