body {
    /* background-color: rgb(168, 186, 163);
    background-image: url("../images/flottant.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right; */ /*ne fonctionne que si background-repeat est defini*/
    background: url("../images/flottant.png") fixed no-repeat top right, url("../images/flottant.png") fixed no-repeat bottom right; /*il est possible d'aligner plusieur backgrounds*/
}

h1 {
    /*color: rgb(205, 26, 26);*/
    color: rgb(205, 26, 26, 0.5); /*4th parameter règle la transparance (opacity)*/
    /*opacity: 0.5;*/
}