/* "*" peut être utilisé pour referencer toutes les balises de la page*/
* {

}

p {
    color: blue;
    font-weight: bold; /* commentaire */
}

/*Uniquement le paragraphe qui suit un <h1>"*/
h1 + p {
    color: red;
}

/*Uniquement <em> qui se trouvent dans un <h1>"*/
h1 em {
    color: green;
}

/*reference à l'attribut class grâce au symbole "."*/
.introduction {
    color: red;
}

/*reference à l'attribut id grâce au symbole "#"*/
#introduction { 
    color: yellowgreen;
}